.container-fluid {
    margin-top: 65px;
}

#tip {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index:99999;
}

.alert a {
    text-decoration: underline;
}

#config-main th {
    width: 15%;
    vertical-align: middle;
}

#config-main .btn {
    width: 70px;
}
